@import url(themes/default.css);

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background-base);
  font-size: var(--font-size-base);
  font-family: var(--font-family-content);
  color: var(--color-text-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.katex {
  font-size: var(--font-size-base) !important;
}

h1,
.cm-heading-h1,
h2,
.cm-heading-h2,
h3,
.cm-heading-h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  color: var(--color-heading);
  font-weight: var(--font-weight-heading);
  margin-top: var(--heading-margin-top);
  margin-bottom: var(--heading-margin-bottom);
}

p,
.cm-p {
  margin-bottom: var(--paragraph-margin-bottom);
}
.cm-meta {
  color: var(--color-meta);
  font-family: var(--font-family-mono);
}

h1,
.cm-heading-h1 {
  font-size: 2.2rem;
}
h2,
.cm-heading-h2 {
  font-size: 1.6rem;
}
h3,
.cm-heading-h3 {
  font-size: 1.2rem;
}

b,
strong,
.cm-strong:not(.cm-meta) {
  font-weight: bold;
  color: var(--color-strong);
}
i,
.cm-italic:not(.cm-meta) {
  font-style: italic;
}

ul li {
  line-height: var(--list-item-line-height);
}
ul.contains-task-list {
  list-style: none;
  padding: 1rem;
}

a,
a:visited,
.cm-link:not(.cm-meta):nth-child(even) {
  color: var(--color-link);
  font-family: var(--font-family-mono);
  text-decoration: none;
}
a:hover,
.cm-link:not(.cm-meta):nth-child(even):hover {
  text-decoration: underline;
}

code,
.cm-mono {
  font-size: calc(var(--font-size-base) * 0.8);
  background-color: var(--color-code-background);
  line-height: 1;
  padding: 4px;
  border-radius: 4px;
}
pre:has(> code) {
  background-color: var(--color-code-background);
}

img {
  width: 100%;
  height: auto;
}
figure.image {
  margin: 1rem 0;
}

#page {
  width: var(--page-width);
  max-width: var(--page-max-width);
  align-self: stretch;
  justify-self: stretch;
  margin: var(--page-margin) auto;
  padding: var(--page-padding);
  background-color: var(--color-page-background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#page-editor .cm-scroller {
  font-family: inherit;
}
#page-editor .cm-selectionBackground,
::selection {
  background-color: var(--color-selection);
}
#page-editor .cm-focused {
  outline: none;
}
#page-editor .cm-activeLine {
  background-color: var(--color-active-line);
}

#page-preview *:first-child {
  margin-top: 0;
}
#page-preview h1 {
  text-align: center;
}

#floating-toolbar {
  position: fixed;
  top: 2rem;
  right: 2rem;
}
#floating-toolbar button {
  border: none;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}

@media print {
  :root {
    --color-background-base: white;
    --color-page-background: white;
  }
  body {
    font-size: 16px;
  }
  #page {
    background-color: white !important;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
    box-shadow: none !important;
  }
  #floating-toolbar {
    display: none;
  }
}
