/* Recipes Theme */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");

:root {
  --font-family-headings: "Montserrat", sans-serif;
  --font-family-content: "Nunito", sans-serif;
  --heading-margin-top: 2rem;
}

h1,
.cm-heading-h1 {
  font-size: 2.5rem;
}

p,
.cm-p {
  text-align: justify;
}
