/**
 * Root variables for theming.
 * Define global styles for typography, colors, and layout.
 */
:root {
  /* Typography */
  --font-size-base: 18px;
  --font-family-serif: serif;
  --font-family-sans: sans-serif;
  --font-family-mono: monospace;
  --line-height-base: 1.5;
  --font-weight-base: 400;

  --font-family-headings: var(--font-family-serif);
  --font-family-content: var(--font-family-serif);

  /* Typography - Headings */
  --heading-margin-top: 1rem;
  --heading-margin-bottom: 0.5rem;

  /* Typography - Paragraphs */
  --paragraph-margin-bottom: 0.8rem;

  /* Typography - List Items */
  --list-item-line-height: 1.2;

  /* Colors */
  --color-text-base: #222;
  --color-background-base: #f0f0f0;
  --color-heading: black;
  --color-meta: darkgrey;
  --color-link: #14d1f1;
  --color-page-background: white;

  /* Layout */
  --page-width: 80%;
  --page-max-width: 800px;
  --page-margin: 2rem;
  --page-padding: 3rem;

  /* CodeMirror Editor */
  --codemirror-selection-background: yellow;
  --codemirror-active-line-background: #00000005;
}
