/* Dracula Theme */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

:root {
  --font-family-base: "Fira Code", monospace;
  --color-text-base: #270110; /* Slightly off-white */
  --color-background-base: #142c58; /* Dracula background */
  --color-heading: #50412a; /* Dark night */
  --color-strong: #ec2933; /* Pink */
  --color-link: #408e28; /* Cyan */
  --color-meta: #414d74;
  --color-page-background: #b5ad8a; /* Match background */
}

#page {
  box-shadow: 0 10px 10px rgba(235, 14, 14, 0.8);
}
