/* Recipes Theme */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  --font-family-headings: "Montserrat", sans-serif;
  --font-family-content: "Nunito", sans-serif;
  --color-text-base: #413114;
  --color-headings: #2e4555;
  --color-page-background: #f3f1e8;
  --color-meta: #416788;
  --color-link: #eda30f;
  --color-strong: var(--color-text-base);
  --color-background-base: #385758;
  --color-selection: #41678830;
  --color-active-line: rgba(255, 230, 0, 0.1);
}

h1,
.cm-heading-h1 {
  font-size: 2.5rem;
}
